body {
  background-color: #85a5d4;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.box .row:first-child {
  margin-left: 20px;
}
.box .row:last-child {
  margin-right: 20px;
}
.box_card {
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box_card:hover {
  background-color: #f6f5f7;
}
.box_heading {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #4677d1;
}
.box_img {
  margin-top: 30px;
  margin-bottom: 35px;
  width: 25%;
}

.box {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #ffffff;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

.box p {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  width: 65%;
  color: #b0acaa;
}
.price {
  margin-top: 12px;
  margin-bottom: 10px;
  color: #4677d1;
  font-weight: bold;
  font-size: 30px;
}
.price sup {
  font-weight: 500;
  font-size: 15px;
}
.price sub {
  padding-left: 1px;
  font-weight: 500;
  font-size: 12px;
}
.price div {
  display: inline;
}
